@import '../../../styles/variables';

.box {
  width: 100%;
  min-height: $HEADER_HEIGHT;
  height: $HEADER_HEIGHT;
  padding: 0 25px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  background-color: $HEADER_BG;
}