$SIDEBAR_BG: #fff;
$SIDEBAR_BD: #eaeaea;
$VIEW_BG: #f3f3f3;
$AUDIO_PLAYER_BG: #f9f9f9;
$HEADER_BG: #fafafa;

$AUDIO_PLAYER_HEIGHT: 100px;

$SIDEBAR_WIDTH: 300px;
$SIDEBAR_HEIGHT: calc(100vh - #{$AUDIO_PLAYER_HEIGHT});
