$SIDEBAR_BG: #fff;
$SIDEBAR_BD: #9b9b9b;
$SIDEBAR_WIDTH: 300px;

$VIEW_BG: #f3f3f3;
$AUDIO_PLAYER_BG: #f9f9f9;
$AUDIO_PLAYER_HEIGHT: 100px;

$HEADER_BG: #fafafa;
$HEADER_HEIGHT: 70px;

$AVATAR_BOX_HEIGHT: 240px;

$SIDEBAR_WIDTH: 300px;
$SIDEBAR_HEIGHT: calc(100vh - #{$AUDIO_PLAYER_HEIGHT});

$ACCENT_COLOR: #308fff;
$GREY: #626262;
$BOLD_TEXT: #3c3c3c;
$LIGHT_TEXT: #909090;

$SCROLL_WIDTH: 10px;
$SCROLL_BG: #a5a5a5;

$RED_COLOR: #ff3d3d;

$PROGRESSBAR_BG: #d9d9d9;

$SECTION_BOX_BG: #fafafa;
$SECTION_BOX_BD: #e7e7e7;

$LISTENER_PLAY: #00c5f0;
$LISTENER_PLAY_PAUSED: #9cedff;