@import './variables';

body {
  background-color: $VIEW_BG;
}

.box {
  height: $SIDEBAR_HEIGHT;
}

.simplebar-scrollbar:before {
  background-color: $SCROLL_BG;
}

.simplebar-track.simplebar-vertical {
  width: $SCROLL_WIDTH;
}