@import '../../../styles/variables';

.button {
  $SIZE: 50px;

  width: $SIZE;
  height: $SIZE;
  border: none;
  background-color: transparent;

  & svg {
    color: $BOLD_TEXT;

    & path {
      transition: .3s color;
      stroke-width: 22px;
    }

    &[class=play] {
      & path {
        stroke-width: 14px;
      }
    }
  }

  &:hover {
    & svg {
      & path {
        color: $ACCENT_COLOR;
      }
    }
  }
}