@import '../../../styles/variables';

.box {
  padding: 40px;
}

.scroll {
  $height: calc(100vh - #{$HEADER_HEIGHT} - #{$AUDIO_PLAYER_HEIGHT});

  max-height: $height;
  height: $height;
  scroll-behavior: smooth;
}