@import '../../../styles/variables';

$PADDING_X: 20px;

.box {
  position: relative;
  margin-bottom: 20px;
}

.input {
  display: block;
  width: 100%;
  padding: 12px #{$PADDING_X};
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 1rem;
  color: $BOLD_TEXT;
  background-color: $SECTION_BOX_BG;

  &:focus,
  &:valid {
    border: 1px solid transparent;
    outline: 2px solid $ACCENT_COLOR;
  }

  &:focus ~ .label,
  &:valid ~ .label {
    top: -12px;
    border-radius: 4px;
    padding: 4px 10px;
    font-size: 0.875rem;
    color: #fff;
    background-color: $ACCENT_COLOR;
  }
}

.label {
  position: absolute;
  top: 14px;
  left: $PADDING_X;
  font-size: 1rem;
  pointer-events: none;
  transition: .2s top;
  color: $LIGHT_TEXT;
}